html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media (max-width: 767px) {
  body {
    height: auto;
  }
}

img {
  margin-right: 12px;
}

.summary {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
@media (max-width: 767px) {
  .summary {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
  }
}
.summary__result {
  height: 450px;
  width: 18rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgb(46, 43, 233);
  background: linear-gradient(0deg, rgb(46, 43, 233) 50%, rgba(120, 87, 255, 0.8814119398) 100%);
  color: hsla(0, 0%, 100%, 0.75);
  border-radius: 50px;
}
@media (max-width: 767px) {
  .summary__result {
    border-radius: 0 0 50px 50px;
    width: 100%;
    height: auto;
    padding: 1rem 0 0 0;
  }
}
.summary__result-title {
  margin-bottom: 2rem;
}
.summary__result-title h3 {
  font-size: 1.25rem;
}
.summary__result-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(78, 33, 202);
  background: linear-gradient(187deg, rgb(78, 33, 202) 50%, rgb(36, 33, 202) 100%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.summary__result-circle h3 {
  font-size: 4.25rem;
  margin: 0;
  color: white;
  line-height: 100px;
}
.summary__result-circle p {
  margin-top: -12px;
}
.summary__result-detail {
  margin-top: 2rem;
}
.summary__result-detail h3 {
  font-size: 2rem;
  color: white;
}
.summary__stats {
  width: 18rem;
  padding: 2rem 2.5rem;
}
@media (max-width: 767px) {
  .summary__stats {
    width: 60vw;
  }
}
.summary__stats-title {
  margin-bottom: 3rem;
}
.summary__stats-title h3 {
  color: hsl(224, 30%, 27%);
}
.summary__stats-button {
  background: hsl(224, 30%, 27%);
  border-radius: 50px;
  padding: 1rem;
  color: #fff;
  text-align: center;
  margin-top: 2.75rem;
  transition: 0.3s;
}
.summary__stats-button:hover {
  background: linear-gradient(0deg, rgb(46, 43, 233) 50%, rgba(120, 87, 255, 0.8814119398) 100%);
  cursor: pointer;
}
.summary__stats__wrapper {
  font-size: 1rem;
}
.summary__stats__wrapper__reaction {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
  background: hsla(0, 100%, 67%, 0.1);
}
.summary__stats__wrapper__reaction-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.summary__stats__wrapper__reaction-title h3 {
  color: hsla(0, 100%, 67%, 0.75);
}
.summary__stats__wrapper__reaction-detail span {
  color: slategray;
  margin-left: 5px;
}
.summary__stats__wrapper__memory {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
  background: hsla(39, 100%, 56%, 0.1);
}
.summary__stats__wrapper__memory-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.summary__stats__wrapper__memory-title h3 {
  color: hsla(39, 100%, 56%, 0.75);
}
.summary__stats__wrapper__memory-detail span {
  color: slategray;
  margin-left: 5px;
}
.summary__stats__wrapper__verbal {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
  background: hsla(166, 100%, 37%, 0.1);
}
.summary__stats__wrapper__verbal-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.summary__stats__wrapper__verbal-title h3 {
  color: hsla(166, 100%, 37%, 0.75);
}
.summary__stats__wrapper__verbal-detail span {
  color: slategray;
  margin-left: 5px;
}
.summary__stats__wrapper__visual {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
  background: hsla(234, 85%, 45%, 0.1);
}
.summary__stats__wrapper__visual-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.summary__stats__wrapper__visual-title h3 {
  color: hsla(234, 85%, 45%, 0.75);
}
.summary__stats__wrapper__visual-detail span {
  color: slategray;
  margin-left: 5px;
}/*# sourceMappingURL=style.css.map */